<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <!-- 定义控制台Appender -->
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- 定义文件Appender -->
    <appender name="FILE" class="ch.qos.logback.core.FileAppender">
        <file>${logPath}/log/exception.log</file>
        <append>true</append>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
            <charset>UTF-8</charset>
        </encoder>
    </appender>

    <!-- 定义ExceptionLogger -->
    <logger name="ExceptionLogger"  level="ERROR">
        <appender-ref ref="FILE" />
    </logger>

    <!-- 定义root logger -->
    <root level="INFO">
        <appender-ref ref="STDOUT" />
    </root>
</configuration>





